.container {
  font-size: 1rem;
}

.dimmed {
  opacity: 0.3;
}

.inline {
  display: inline;
  margin: 0;
}

.size-s {
  font-size: 0.75rem;
}

.size-xs {
  font-size: 0.5rem;
}

.align-start {
  text-align: start;
}

.align-center {
  text-align: center;
}
