.container {
  padding: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
}

.container p {
  text-align: center;
}

.container .quiet {
  opacity: 0.3;
}

.select {
  background-color: transparent;
  color: var(--color-text);
  padding: 0.25rem;
  margin: 0;
  font-size: 1rem;
  font-family: var(--font-family-body);
  border: none;
}
