.content {
  display: flex;
  flex-direction: column;
}

.logo {
  width: 4rem;
  height: auto;
}

.footer {
  position: fixed;
  bottom: 1rem;
}

.footer a {
  color: var(--color-text);
  opacity: 0.5;
  font-weight: 300;
  text-decoration: none;
  transition: 0.3s opacity;
}

.footer a:hover {
  opacity: 1;
}

.footer span {
  border-bottom: 1px dashed white;
}
