.container {
  padding: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.isEntering {
  animation: enter 2s;
}
.isExiting {
  animation: exit 2s;
}

@keyframes enter {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes exit {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
